<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         executionOrder="random"
         resolveDependencies="true"
         bootstrap="vendor/autoload.php"
         colors="true">
    <php>
        <env name="OTEL_PROPAGATORS" value="baggage,tracecontext"/>
        <!-- Ignore indirect deprecations from third-party libraries (e.g., ramsey/uuid) -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1;"/>
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integrations Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory suffix="Exception.php">src</directory>
            <directory suffix="php">src/DependencyInjection</directory>
            <directory suffix="php">src/Listeners</directory>
            <file>src/SymfonyOtelBundle.php</file>
        </exclude>
    </source>
</phpunit>
